-# メニュー部ヘッダー
.menu-header
  .menu-header__box
    .menu-header__box__name
      = current_user.name
    .menu-header__box__menu
      .menu-header__box__menu__new-group
        = link_to new_group_path do
          = fa_icon 'edit'
      .menu-header__box__menu__settings
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog'
